@using System.Security.Claims
@inherits LayoutComponentBase
@inject AuthenticationStateProvider _authenticationStateProvider

<div class="page">
    <AuthorizeView Roles="@Roles.Admin">
        <div class="sidebar">
            <NavMenu />
        </div>
    </AuthorizeView>

    <main>
        @if (_showNavBar)
        {
            <NavBar></NavBar>
        }
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <CascadingValue Value="@IsAuthenticated">
                @Body
            </CascadingValue>
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool _showNavBar;
    bool IsAuthenticated { get { return UserAuthenticated().Result; }}

    protected override async Task OnInitializedAsync()
    {
        _showNavBar = await GetNavBarVisibleAsync();
    }

    private async Task<bool> GetNavBarVisibleAsync()
    {
        var authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var authenticated = await UserAuthenticated(user);
        if (!authenticated)
            return true;

        if (user is not null && !user.IsInRole(Roles.Admin))
        {
            return true;
        }

        return false;
    }

    private async Task<bool> UserAuthenticated(ClaimsPrincipal? user = null)
    {
        if (user is null)
        {
            var authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
            user = authState.User;
        }

        return (user is not null && user.Identity is not null && user.Identity.IsAuthenticated);
    }
}