@page "/order/confirmation/{orderId}";
@inject StateContainerService _stateContainerService

<div class="text-center">
    <h1 class="pt-4 text-success">You are one step closer to delicious food!</h1>
    <p>Your order is confirmed! Please note your order ID for any questions. </p>
    <p>Order ID: <b>@orderId</b></p>
    <hr />
    <img src="lib/images/lawn_leaf.jpg" width="40%" />
    <hr />
</div>

@code {
    [Parameter]
    public string orderId { get; set; }
}
